.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    z-index: 10;
    margin: auto;
    color: blue;
}

.search-icon:before {
    margin-left: 10px;
}

.navbar-brand {
    margin: auto;
}